# Não enviar combinações gigantes para o GitHub
combinacoes/combinacoes.csv

# Pasta inteira (caso queira excluir tudo)
combinacoes/

# caches
__pycache__/
*.pyc

# ambientes virtuais
venv/
lotofacil-312/
lotofacil-venv/

# arquivos temporários
*.log
*.tmp

# arquivos de sistema macOS
.DS_Store
