# Arquivo gigante de combinações
combinacoes/combinacoes.csv

# ambientes virtuais
venv/
lotofacil-312/
lotofacil-venv/

# Python cache
__pycache__/
*.pyc

# Logs temporários
*.log
*.tmp

# macOS
.DS_Store
